html, body, #root{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.App{
    position: relative;
    height: 100%;
}

.app__bgi_wrap{
    position: fixed;
    top: -10px;
    left: -10px;

    width: 103%;
    height: 40vh;

    background-color: rgba(0,0,0,0.5);

    overflow: hidden;
}

.app__bgi{
    width: 100%;
    height: 103%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    filter: blur(6px) brightness(70%);
}

.app_inner{
    width: 915px;
    margin: 0 auto;
    padding-top: 80px;

    position: relative;
}

@media (max-width: 996px){
    .app_inner{
        width: calc(100% - 40px);
        margin: 0 20px;
    }
}

@media (max-width: 321px){
    .app__bgi_wrap{
        height: 44vh;
    }
}

