.images__title{
    margin-bottom: 35px;

    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.images__subtitle{
    margin-bottom: 25px;
    padding-bottom: 10px;

    border-bottom: 1px solid #EFEFEF;

    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.images__subtitle a:visited{
    color: #fff;
}

.images__subtitle svg{
    padding-right: 17px;
}

.images_wrap{
    display: flex;
    flex-wrap: wrap;
}

.image{
    width: calc(25% - 21px);
    height: 170px;

    margin-right: 25px;
    margin-bottom: 25px;

    font-size: 16px;

    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(239,239,239,0.4);
    border: 1px solid rgb(239,239,239);

    background-color: #fff;

    overflow: hidden;

    transition: all .4s ease-out;
}

.image:hover{
    transform: translateY(-8px);
    box-shadow: 0 5px 31px rgba(200,200,200,1);
    cursor: pointer;
}

.image:nth-child(4n){
    margin-right: 0;
}

.image__bgi{
    height: 100%;

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.image__delete{
    position: absolute;
    top: 10px;
    right: 10px;

    opacity: 0;

    transition: opacity var(--cat-animation-speed) ease-out;
}

.image:hover .image__delete{
    opacity: 1;
}

.no-images{
    color: #fff;
}

.image__new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: -1px;

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .8px;
    font-size: 14px;
    color: #ACACAC;

    border: 2px solid rgb(239,239,239);
}

.image__new:hover{
    transform: none;
    box-shadow: 0 0 31px rgba(200,200,200,1);
}

.image__new p{
    margin-top: 15px;
}

.remove-image{
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.remove-image.active{
    display: block;
}

.remove-image__overlay{
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.75);
}

.remove-image_inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 577px;
    height: 145px;

    padding: 24px;

    background-color: #fff;
    border-radius: 4px;
}

.remove-image__title{
    margin-top: 0;
    margin-bottom: 58px;

    text-align: center;
    font-weight: 500;
    letter-spacing: .8px;
    font-size: 24px;
    color: #545454;
    text-transform: uppercase;
}

.remove-image__buttons-wrap{
    display: flex;
    justify-content: space-around;
}

.remove-image_inner a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 125px;
    height: 50px;

    border-radius: 4px;

    color: #fff;
    font-size: 16px;
    text-transform: uppercase;

    transition: all .3s ease-out;
}

.remove-image__submit{
    border: 1px solid #00C88B;
    background-color: #00C88B;
}

.remove-image__submit:hover{
    background-color: #fff;
    color: #00C88B;
}

.remove-image__cancel{
    border: 1px solid #C80303;
    background-color: #C80303;
}

.remove-image__cancel:hover{
    background-color: #fff;
    color: #C80303;
}

@media (max-width: 996px){
    .image{
        width: calc(50% - 15px);
    }
    .image:nth-child(2n){
        margin-right: 0;
    }
}

@media (max-width: 767px){
    .add-image_inner{
        width: calc(100% - 40px);
        height: auto;

        padding-bottom: 70px;

        box-sizing: border-box;
    }

    .remove-image_inner{
        width: calc(100% - 40px);
        height: auto;

        box-sizing: border-box;
    }

    .remove-image__buttons-wrap{
        flex-direction: column;
        align-items: center;
    }

    .remove-image__submit{
        margin-bottom: 30px;
    }
}

@media (max-width: 376px){
    .image{
        width: 100%;
        margin-right: 0;
    }
}